# Telegram Bot Token from @BotFather (REQUIRED)
TELEGRAM_TOKEN=123456789:ABCdefGhIJKlmNoPQRsTUVwxyZ

# Hugging Face Access Token from https://huggingface.co/settings/tokens (OPTIONAL, helps avoid rate limits)
HF_TOKEN=

# Hugging Face Space Name (Default is InstantX/InstantID)
HF_SPACE_NAME=InstantX/InstantID
